<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54F72BF41D3381A500D32F18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54F72C0D1D3381A600D32F18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54F72C181D3381A600D32F18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
